
@font-face {
  font-family: 'LetoSlab';
  src: url('LetoSlab.eot?#iefix') format('embedded-opentype'),  url('LetoSlab.woff') format('woff'), url('LetoSlab.ttf')  format('truetype'), url('LetoSlab.svg#LetoSlab') format('svg');
  font-weight: normal;
  font-style: normal;
}
