@font-face {
  font-family: 'LetoSlab';
  src: url('../fonts/LetoSlab.eot?&1423591013#iefix') format("embedded-opentype"), url('../fonts/LetoSlab.woff?1423591013') format("woff"), url('../fonts/LetoSlab.ttf?1423591013') format("truetype"), url('../fonts/LetoSlab.svg?1423591013#LetoSlab') format("svg");
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inline {
  display: inline-block;
}

/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=9b1525f0ce27fdb92dbc)
 * Config saved to config.json and https://gist.github.com/9b1525f0ce27fdb92dbc
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1100px) {
  .container {
    width: 1100px;
  }
}
@media (min-width: 1190px) {
  .container {
    width: 1190px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 960px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1100px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.affix {
  position: fixed;
}

@media (max-width: 480px) {
  .hidden-sm {
    display: none !important;
  }
}
.sp-sprite, .sp-arrow-big-left, .baners-slider .owl-nav .owl-prev, .sp-arrow-big-right, .baners-slider .owl-nav .owl-next, .sp-arrow-left, .card-slider .owl-prev, .sp-arrow-right, .card-slider .owl-next, .sp-fb, .share a.fb, .sp-odn, .share a.odn, .sp-pin, .share a.pin, .sp-tw, .share a.tw {
  background-image: url('../images/sp-s84ac298cf5.png');
  background-repeat: no-repeat;
}

.sp-arrow-big-left, .baners-slider .owl-nav .owl-prev {
  background-position: 0 -164px;
  height: 126px;
  width: 79px;
}

.sp-arrow-big-right, .baners-slider .owl-nav .owl-next {
  background-position: -112px -290px;
  height: 126px;
  width: 79px;
}

.sp-arrow-left, .card-slider .owl-prev {
  background-position: -56px -290px;
  height: 87px;
  width: 56px;
}

.sp-arrow-right, .card-slider .owl-next {
  background-position: 0 -290px;
  height: 87px;
  width: 56px;
}

.sp-fb, .share a.fb {
  background-position: 0 -123px;
  height: 41px;
  width: 250px;
}

.sp-odn, .share a.odn {
  background-position: 0 -82px;
  height: 41px;
  width: 250px;
}

.sp-pin, .share a.pin {
  background-position: 0 -41px;
  height: 41px;
  width: 250px;
}

.sp-tw, .share a.tw {
  background-position: 0 0;
  height: 41px;
  width: 250px;
}

html.page {
  font-size: 50.5%;
}
@media (max-width: 960px) {
  html.page {
    font-size: 42.5%;
  }
}
@media (max-width: 768px) {
  html.page {
    font-size: 32.5%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #091e36;
  line-height: 1.2;
  font-size: 24px;
  font-size: 1.5rem;
}

h1 {
  font-size: 86.4px;
  font-size: 5.4rem;
  margin-bottom: 36.8px;
  margin-bottom: 2.3rem;
  font-weight: normal;
  color: #fff;
  margin-top: 0;
  font-family: "LetoSlab";
  letter-spacing: -.2px;
  text-shadow: 0 0 30px #2768a3;
}

h2 {
  font-size: 64px;
  font-size: 4rem;
  margin-bottom: 80px;
  margin-bottom: 5rem;
  margin-top: 0;
  font-weight: bold;
  color: #fff;
}

.global {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

body.have-fixed {
  padding-top: 60px;
}

.global {
  background: #7c98c6 url('../images/bg.jpg?1423591124') center 0 repeat-x;
}

.baner {
  margin-bottom: 52.8px;
  margin-bottom: 3.3rem;
}

.container {
  position: relative;
  z-index: 10;
}

.baner, .v-baner, .video-block, .right-video-block, .advice, .download-block .image, .promo-test-block, .game-baner, .rounded-items .rounded-item, .module-frozen {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.v-baner {
  margin: 0px 0px 86.4px;
  margin: 0rem 0rem 5.4rem;
  position: relative;
  background: url('../images/v-baner.jpg?1423594991') center 0 no-repeat;
  background-size: cover;
  padding: 5.55% 2% 4.7% 8%;
}
.v-baner .t {
  font-size: 75.2px;
  font-size: 4.7rem;
  letter-spacing: .5px;
  margin: 0;
  color: #d20009;
  font-family: "LetoSlab";
}
.v-baner p {
  font-size: 51.2px;
  font-size: 3.2rem;
  color: #584326;
  font-style: italic;
  margin: 1px 0 0 5px;
}
.v-baner .btn {
  margin: 10px 0 0 15px;
}
@media (max-width: 768px) {
  .v-baner .btn {
    margin-top: 30px;
    margin-left: 0;
  }
}

.google, .tunec {
  display: inline-block;
  vertical-align: top;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.google:hover, .tunec:hover {
  opacity: .8;
}

.google {
  width: 85.38462px;
  height: 32.30769px;
  background: url('../images/g.png?1423593389') 0 0 no-repeat;
  background-size: cover;
}

.tunec {
  width: 85.38462px;
  height: 32.30769px;
  background: url('../images/tunec.png?1423593403') 0 0 no-repeat;
  background-size: cover;
}

#api-footer {
  position: relative;
  z-index: 2;
}

.share a {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.share a:hover {
  opacity: .8;
}

.owlcarousel {
  position: relative;
}
.owlcarousel .owl-stage-outer {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.owlcarousel .owl-item {
  float: left;
}

.btn {
  border-radius: 80px;
  border-radius: 5rem;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 31.2px;
  font-size: 1.95rem;
  padding: 48px 219.2px;
  padding: 3rem 13.7rem;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  border: none;
  background: none;
  overflow: visible;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bold;
  color: #fff;
}
.btn.btn-red {
  letter-spacing: 1.3px;
  background: #d6252b;
}
.btn.btn-red:hover {
  background: #ab1d22;
}
.btn.btn-blue {
  padding: 43.2px 160px;
  padding: 2.7rem 10rem;
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: 1px;
  background: #0454a0;
}
.btn.btn-blue:hover {
  background: #033a6e;
}
.btn.rounded-btn {
  font-size: 25.6px;
  font-size: 1.6rem;
  padding: 41.6px 67.2px;
  padding: 2.6rem 4.2rem;
  border: 4px solid #ed1c24;
  color: #ed1c24;
  letter-spacing: 2px;
}
.btn.rounded-btn:hover {
  color: #fff;
  background: #ed1c24;
}
.btn.rounded-btn.color-red {
  background: #ed1c24;
  color: #fff;
}
.btn.rounded-btn.color-red:hover {
  color: #ed1c24;
  background: none;
}
.btn.rounded-btn.color-white {
  color: #fff;
  border-color: #fff;
}
.btn.rounded-btn.color-white:hover {
  color: #271A62;
  background: none;
  border-color: #271A62;
}

.header {
  padding: 192px 0px 0px 0px;
  padding: 12rem 0rem 0rem 0rem;
}

.main-nav {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  text-align: left;
  padding: 0;
  background: #d31b1e url('../images/header.png?1423600805') center 100% no-repeat;
  border-bottom: 1px solid #f21a19;
  box-shadow: 0 1px 0 rgba(99, 102, 132, 0.3), 0 2px 0 rgba(0, 0, 0, 0.1);
}
.main-nav.fixed {
  position: fixed;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  padding: 20px 2% 20px 0;
  font-size: 27.2px;
  font-size: 1.7rem;
}
.main-nav ul li {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin: 0 0 0 5%;
}
.main-nav ul li:first-child {
  margin-left: 0;
}
.main-nav ul a {
  color: #fff;
  text-decoration: none;
}
.main-nav ul a:hover {
  text-decoration: underline;
}

.baners-slider {
  margin-bottom: 27.2px;
  margin-bottom: 1.7rem;
}
.baners-slider .slide {
  position: relative;
}
.baners-slider .slide .baner-data {
  font-size: 38.4px;
  font-size: 2.4rem;
  padding-right: 48px;
  padding-right: 3rem;
  position: absolute;
  left: 6.7%;
  top: 8.5%;
  color: #fff;
  line-height: 1.22;
}
.baners-slider .slide .baner-data h2 {
  margin-top: 137.6px;
  margin-top: 8.6rem;
  margin-bottom: 92.8px;
  margin-bottom: 5.8rem;
}
@media (max-width: 1447px) {
  .baners-slider .slide .baner-data h2 {
    font-size: 48px;
    font-size: 3rem;
    margin-top: 89.6px;
    margin-top: 5.6rem;
    margin-bottom: 60.8px;
    margin-bottom: 3.8rem;
  }
}
.baners-slider .owl-nav {
  position: static;
}
.baners-slider .owl-nav .owl-prev, .baners-slider .owl-nav .owl-next {
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 37.5%;
  cursor: pointer;
  text-indent: -9999px;
}
@media (max-width: 1150px) {
  .baners-slider .owl-nav .owl-prev, .baners-slider .owl-nav .owl-next {
    display: none !important;
  }
}
.baners-slider .owl-nav .owl-prev:hover, .baners-slider .owl-nav .owl-next:hover {
  opacity: .8;
}
.baners-slider .owl-nav .owl-prev {
  left: -118px;
}
.baners-slider .owl-nav .owl-next {
  right: -118px;
}
.baners-slider .owl-dots {
  position: relative;
  text-align: center;
  padding: 2.9rem 0;
}
.baners-slider .owl-dots .owl-dot {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #d2242a;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 .9rem;
}
.baners-slider .owl-dots .owl-dot.active {
  background: #a2d0f7;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.v-block-title {
  color: #fff;
  font-family: "LetoSlab";
  font-size: 64px;
  font-size: 4rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.video-block {
  margin-bottom: 43.2px;
  margin-bottom: 2.7rem;
  background: #dde6f4 url('../images/bg2.jpg?1423542679') center 0 no-repeat;
  background-size: cover;
  padding: 3.2% 5.9%;
}
.video-block .video-frame {
  background: #ccc;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.video-block .video-frame object {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.video-block .title-1 {
  color: #091e36;
  font-weight: bold;
  font-size: 2.54rem;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 21px;
  position: relative;
}
.video-block .title-1 span {
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 768px) {
  .video-block .title-1 {
    padding: 0;
    margin: 10px 0 30px;
  }
  .video-block .title-1 span {
    position: relative;
  }
}
.video-block .video-frame-bottom {
  position: relative;
}
.video-block .video-frame-bottom .title-2 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: right;
  position: absolute;
  top: -22px;
  width: 100%;
}
.video-block .video-frame-bottom .title-2 span {
  font-weight: normal;
}
@media (max-width: 768px) {
  .video-block .video-frame-bottom .title-2 {
    font-size: 2.54rem;
    position: relative;
    top: auto;
    margin: 20px 0 10px;
  }
}

.right-video-block {
  margin-bottom: 96px;
  margin-bottom: 6rem;
  background: #e2ecf2 url('../images/rvim.png?1423591013') 100% 100% no-repeat;
  position: relative;
  padding: 3.2% 5.9% 4.4% 6.8%;
}
.right-video-block .video-frame {
  background: #ccc;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.right-video-block .video-frame object {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.right-video-block .title {
  font-size: 51.2px;
  font-size: 3.2rem;
  line-height: 1.25;
  color: #253980;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .custom-sm-5 {
    width: 46.2%;
  }
}

@media (min-width: 768px) {
  .custom-sm-7 {
    width: 53.8%;
    padding-left: 25px;
  }
}

.promo-test-block, .game-baner, .download-block, .card, .advice {
  margin-bottom: 80px;
  margin-bottom: 5rem;
  position: relative;
}
.promo-test-block img, .game-baner img, .download-block img, .card img, .advice img {
  width: 100%;
}
.promo-test-block .data, .game-baner .data, .download-block .data, .card .data, .advice .data {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.promo-test-block .data .btn, .game-baner .data .btn, .download-block .data .btn, .card .data .btn, .advice .data .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.advice, .card {
  background: #fff;
}
.advice a, .card a {
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  display: block;
}
.advice a:hover, .card a:hover {
  opacity: .8;
}

.advice {
  margin-bottom: 62.4px;
  margin-bottom: 3.9rem;
}
.advice .title {
  font-size: 30.4px;
  font-size: 1.9rem;
  padding-right: 5%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 11.2%;
  top: 20.4%;
  letter-spacing: 1.7px;
  line-height: 1.7;
}
@media (max-width: 1100px) {
  .advice .title {
    font-size: 4.3rem;
  }
}
@media (max-width: 520px) {
  .advice .title {
    font-size: 3.3rem;
  }
}

.download-block {
  margin-bottom: 84.8px;
  margin-bottom: 5.3rem;
}
.download-block .image {
  position: relative;
  margin-bottom: 16px;
}
.download-block .title {
  font-size: 30.4px;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.65px;
  color: #1c1f21;
}
@media (max-width: 1100px) {
  .download-block .title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .download-block .title {
    font-size: 3rem;
  }
}
.download-block .dwn-links {
  position: absolute;
  bottom: 8.5%;
  left: 6%;
}
.download-block .dwn-links a {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
}

.promo-test-block {
  margin-bottom: 68.8px;
  margin-bottom: 4.3rem;
}
.promo-test-block .data .title {
  font-size: 51.2px;
  font-size: 3.2rem;
  padding: 6% 5% 0 9%;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .promo-test-block .data .title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .promo-test-block .data .title {
    font-size: 4rem;
  }
}
.promo-test-block .data .btn {
  bottom: 15%;
  left: 7.5%;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .promo-test-block .data .btn {
    padding: 40px 171.2px;
    padding: 2.5rem 10.7rem;
    font-size: 1.25rem;
  }
}

.game-baner .data .title {
  font-size: 51.2px;
  font-size: 3.2rem;
  padding: 7.3% 10% 0 10%;
  color: #0454a0;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .game-baner .data .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .game-baner .data .title {
    font-size: 4rem;
  }
}
.game-baner .data .btn {
  bottom: 8.9%;
  left: auto;
  right: 8%;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .game-baner .data .btn {
    padding: 40px 171.2px;
    padding: 2.5rem 10.7rem;
    font-size: 1.25rem;
  }
}

.section-title {
  font-size: 64px;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  margin: 0 0 24px;
}

.rounded-items {
  font-size: 0;
  margin: 0 0 26px -2.5%;
}
.rounded-items .rounded-item {
  display: inline-block;
  vertical-align: top;
  border-radius: 35px;
  overflow: hidden;
  margin-bottom: 39px;
}
.rounded-items.items-5 .rounded-item {
  width: 17.5%;
  margin-left: 2.5%;
  font-size: 2rem;
}
@media (max-width: 960px) {
  .rounded-items.items-5 .rounded-item {
    width: 30.5%;
  }
}
@media (max-width: 768px) {
  .rounded-items.items-5 .rounded-item {
    width: 47.5%;
  }
}
.rounded-items .image {
  overflow: hidden;
  position: relative;
  border-radius: 35px 35px 0 0;
}
.rounded-items .image img {
  width: 100%;
}
.rounded-items .title {
  padding: 14px 10px;
  text-align: center;
  font-family: "LetoSlab";
  font-size: 15.5px;
  min-height: 58px;
  background: #fff;
  min-height: 66px;
  border-radius: 0 0 35px 35px;
}
.rounded-items .dwn-links {
  background: url('../images/gr.png?1423591013') 0 100% repeat-x;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.rounded-items.items-4 .rounded-item {
  width: 22.5%;
  margin-left: 2.5%;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .rounded-items.items-4 .rounded-item {
    width: 47.5%;
  }
}
.rounded-items .links {
  text-align: center;
  position: absolute;
  bottom: 13px;
  width: 100%;
}
.rounded-items .links a {
  margin: 2px 2px 0;
}

.games {
  margin: 0px 0px 68.8px;
  margin: 0rem 0rem 4.3rem;
}
.games .section-title {
  margin-bottom: 41px;
}
.games .title {
  min-height: 71px;
  font-size: 19.51px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 19px 10px 19px 37px;
}
.games .dwn-links {
  background: none;
}

.articles {
  margin-bottom: 96px;
  margin-bottom: 6rem;
}
.articles .section-title {
  margin-bottom: 35px;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
}
.scene .layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.scene.scene-2 .layer {
  margin-top: 60%;
}

.module-test-section {
  margin: -10px 0 39px 0;
}
.module-test-section .module-title {
  color: #fff;
  font-family: "LetoSlab";
  font-size: 76.8px;
  font-size: 4.8rem;
  margin-bottom: 35.2px;
  margin-bottom: 2.2rem;
}
.module-test-section .test-header {
  position: relative;
  text-align: center;
  padding: 2.9% 4% 1.2%;
  background-size: cover !important;
}
.module-test-section .test-header .t-link {
  -moz-transition: background 0.2s ease, border-color 0.2s ease;
  -o-transition: background 0.2s ease, border-color 0.2s ease;
  -webkit-transition: background 0.2s ease, border-color 0.2s ease;
  transition: background 0.2s ease, border-color 0.2s ease;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.4;
  background: #0080af;
  border-radius: 60px;
  padding: 33.6px 96px 32px;
  padding: 2.1rem 6rem 2rem;
  max-width: 518px;
  min-width: 320px;
  text-align: center;
  border: 2px solid #0080af;
  font-weight: bold;
  margin: 0 20px 20px;
  box-shadow: 0 10px 0 #006497;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.module-test-section .test-header .t-link:hover {
  background: #006497;
  border-color: #006497;
}
.module-test-section .test-header .t-link:active {
  box-shadow: none;
  top: 10px;
}
.module-test-section .test-header .t-link span {
  display: inline-block;
  text-align: left;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.module-test-section .test-header .t-link.color-2 {
  border-color: #e87a83;
  background: #e87a83;
  box-shadow: 0 10px 0 #df5e67;
}
.module-test-section .test-header .t-link.color-2:hover {
  background: #df5e67;
  border-color: #df5e67;
}
.module-test-section .test-header .t-link.color-2:active {
  box-shadow: none;
}
.module-test-section .test-header .t-link.active {
  background: #e3c8cc;
  border-color: #d4afb4;
  box-shadow: none;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  position: static;
}
.module-test-section .test-body {
  background: url('../images/test-bg.jpg?1423648436') 0 0 no-repeat;
  background-size: cover;
  padding: 5%;
}
.module-test-section .test-body.result-body {
  background: #ebedec;
}
.module-test-section .inner {
  width: 90%;
  margin: 0 auto;
}
.module-test-section .result-title {
  color: #cb2027;
  font-family: "LetoSlab";
  font-size: 64px;
  font-size: 4rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.module-test-section .result-title span {
  font-weight: 300;
  color: #3c5a60;
  font-size: 56px;
  font-size: 3.5rem;
}
.module-test-section .result-test-image {
  margin-bottom: 45px;
}
.module-test-section .result-data {
  font-size: 40px;
  font-size: 2.5rem;
  color: #000;
}
.module-test-section .result-data p {
  margin: 0 0 2em;
  line-height: 1.5;
}
@media (max-width: 960px) {
  .module-test-section .result-data {
    text-align: left;
  }
  .module-test-section .result-data .share a {
    display: block;
  }
}
.module-test-section .return-btn {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  border: 2px solid #55acee;
  color: #55acee;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 17px 40px;
  border-radius: 30px;
  text-decoration: none;
}
.module-test-section .return-btn:hover {
  background: #cb2027;
  color: #fff;
  border-color: #cb2027;
}

.game-baner-2 .right-50 {
  width: 50%;
  float: right;
}
.game-baner-2 .data .btn {
  position: relative;
  right: auto;
  bottom: auto;
  margin: 10% 0 0 10%;
}
@media (max-width: 960px) {
  .game-baner-2 .data .title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .game-baner-2 .data .title {
    font-size: 2rem;
  }
  .game-baner-2 .data .btn {
    padding: 1.7rem 6rem;
  }
}

.module-valentines .module-title {
  font-weight: bold;
  color: #fff;
  font-family: "LetoSlab";
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 60.8px;
  font-size: 3.8rem;
  margin-bottom: 35.2px;
  margin-bottom: 2.2rem;
}
.module-valentines .module-body {
  background: #fdeed6 url('../images/v-bg.jpg?1423664050') 0 0 no-repeat;
  background-size: cover;
  padding: 5% 9% 3%;
}
@media (max-width: 960px) {
  .module-valentines .module-body {
    padding: 5% 5% 3%;
  }
}

.card-slider {
  position: relative;
  margin-bottom: 40px;
}
.card-slider .owl-prev, .card-slider .owl-next {
  display: block;
  text-indent: -9999px;
  position: absolute;
  top: 40%;
  margin-top: -43px;
  cursor: pointer;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.card-slider .owl-prev:hover, .card-slider .owl-next:hover {
  opacity: .8;
}
@media (max-width: 960px) {
  .card-slider .owl-prev, .card-slider .owl-next {
    opacity: 0;
    visibility: hidden;
  }
}
.card-slider .owl-prev {
  left: -8%;
}
.card-slider .owl-next {
  right: -8%;
}
.card-slider .owl-dots {
  text-align: center;
  padding: 40px 0;
}
.card-slider .owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 2%;
  position: relative;
  cursor: pointer;
}
.card-slider .owl-dots .owl-dot.active .dot-text:before, .card-slider .owl-dots .owl-dot:hover .dot-text:before {
  opacity: .7;
}
.card-slider .owl-dots .owl-dot .dot-text {
  color: #16094c;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}
.card-slider .owl-dots .owl-dot .dot-text:before {
  display: block;
  content: '';
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background: #018cb7;
  margin: 0 auto 20px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.card-slider .owl-dots .owl-dot .dot-text.dot-2:before {
  background: #0289ba;
}
.card-slider .owl-dots .owl-dot .dot-text.dot-3:before {
  background: #df0081;
}
.card-slider .owl-dots .owl-dot .dot-text.dot-4:before {
  background: #ff7ac7;
}

@media (max-width: 1100px) {
  .card-share {
    text-align: center;
  }
}
.card-share .title {
  color: #4c66a4;
  font-weight: bold;
  font-family: "LetoSlab";
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.card-share .share {
  margin: 10px -100px 0 -94px;
}
.card-share .share a {
  margin: 0 1px 7px;
}
@media (max-width: 1100px) {
  .card-share .share {
    margin: 20px 0 0;
  }
}

.promo-rules {
  background: url('../images/bg3.jpg?1423755637') 0 0 no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 40px;
  padding: 4% 6% 4% 6%;
}
.promo-rules .t {
  font-family: "LetoSlab";
  font-size: 72px;
  font-size: 4.5rem;
  margin-bottom: 64px;
  margin-bottom: 4rem;
}
.promo-rules p {
  font-size: 36.8px;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 0 20px;
  line-height: 1.5;
}

.module-frozen {
  position: relative;
  margin-bottom: 29px;
}

.locked {
  overflow: hidden;
}

.md-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  display: none;
  background: rgba(4, 84, 160, 0.5);
}

.modal {
  position: fixed;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 10002;
  left: 50%;
  top: 0;
  overflow: hidden;
  padding: 100px 0;
  max-height: 100%;
  width: 800px;
}
@media (max-width: 960px) {
  .modal {
    width: 80%;
  }
}
.modal .bg-m {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #000;
  position: relative;
  height: 0;
}
.modal.show {
  visibility: visible;
  opacity: 1;
}
.modal.show ~ .md-overlay {
  display: block;
}
.modal.show .content, .modal.show .bg-m {
  height: 100%;
}
.modal .title {
  position: relative;
}
.modal .content {
  height: 0;
  padding: 70px 20px 50px 50px;
}
.modal .close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}
.modal .close:before {
  display: block;
  content: "X";
  color: #ccc;
  font-size: 22px;
  cursor: pointer;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.modal .close:before:hover {
  opacity: .8;
}
.modal h1 {
  font-weight: bold;
  margin: 0 0 10px;
  color: #222;
  text-shadow: none;
  font-size: 25px;
}
.modal h2 {
  margin: 0 0 20px;
  color: #222;
  font-family: "LetoSlab";
  text-shadow: none;
  font-size: 18px;
}
.modal p {
  margin: 0 0 18px;
}
.modal .ctx {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2;
}
.modal .ctx h1 {
  font-size: 20px;
}
.modal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #d31b1e !important;
}
.modal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background: #e63b3e !important;
}

/*# sourceMappingURL=style.css.map */
